# -----------------------------
# OLTP PostgreSQL
# -----------------------------
OLTP_HOST=oltp-db
OLTP_PORT=5432
OLTP_DB=music_store
OLTP_USER=music_app
OLTP_PASSWORD=change_me

# -----------------------------
# Warehouse PostgreSQL
# -----------------------------
WAREHOUSE_HOST=warehouse-db
WAREHOUSE_PORT=5432
WAREHOUSE_DB=music_warehouse
WAREHOUSE_USER=warehouse_app
WAREHOUSE_PASSWORD=change_me

# -----------------------------
# ETL
# -----------------------------
PIPELINE_NAME=music_store_hourly
EXTRACT_OVERLAP_MINUTES=5
PIPELINE_LOG_LEVEL=INFO

# -----------------------------
# Airflow PostgreSQL
# -----------------------------
AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me

# -----------------------------
# Grafana
# -----------------------------
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change_me

# -----------------------------
# Grafana SMTP
# Leave secrets blank in Git
# -----------------------------
GRAFANA_SMTP_HOST=smtp.gmail.com:587
GRAFANA_SMTP_USER=
GRAFANA_SMTP_PASSWORD=
GRAFANA_SMTP_FROM_ADDRESS=